
    <head>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <div class="wrapper2">

        <h2>Register Form</h2>

        <div class="input-container">

            <input type="text" placeholder="Username"  required />

            <i class='bx bxs-user'></i>

    </div>
       

    <div class="input-container">
       
        <input class="input-field" type="text" placeholder="Email" name="email">

        <i class='bx bx-envelope'></i>

    </div>

    <div class="input-container">
       
        <input class="input-field" type="password" placeholder="Password"  name="psw">

        <i class='bx bx-key'></i>

    </div>

    <button type="submit" class="btn">Register</button>

    <div/>




